@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
/* 
text{

  color: black;
} */
